.DS_Store
node_modules/
platforms/
./**/node_modules/
./**/node_modules/
./**/**/node_modules/
./**/**/**/node_modules/
./**/**/**/**/node_modules/
./**/**/**/**/**/node_modules/
./**/**/**/**/**/**/node_modules/
dist/
npm-debug.log
yarn-error.log

